<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @planner.category %>
</p>

<%= link_to 'Edit', edit_planner_path(@planner) %> |
<%= link_to 'Back', planners_path %>

<h2>Tasks</h2>
<% @planner.tasks.each do |task| %>
  <p>
    <strong>O</strong>
    <%= task.task %>
  </p>
<% end %>

<%= form_with model: [ @planner, @planner.tasks.build ] do |form| %>
  <p>
    <p><strong>Add task</strong></p>
    <%= form.text_field :task %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
